src/Builder4/*.c
src/JsRender/*.c
src/Palete/*.c
src/Project/*.c
src/Builder4/*.o
src/JsRender/*.o
src/Palete/*.o
src/Project/*.o
src/c/*.o
src/Makefile
src/*.c
src/*.o
src/builder
src/*.stamp
src/*.stamp-t

Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
compile
fontconfig/*

