[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Roo JS Builder
Comment=Vala and Javascript Application Biuilder
Exec=builder4
Icon=application-default-icon
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;